In [2]:
#インポート文
import numpy as np
import pandas as pd
import os
import warnings
from google.cloud import storage

In [3]:
dir = 'takamatsu/horsepage'
# race_df = pd.read_csv("../data/csv/"+dir+"/"+"race"+".csv", sep=",")
# horse_df = pd.read_csv("../data/csv/"+dir+"/"+"horse"+".csv", sep=",")

In [4]:
key_name ="../key/storage_key.json"
bucket_name = "keiba_csv_upload_bucket"
horse_info_file_upload = 'horse_info_takamatsu.csv'
horse_info_file_name = '../data/main/horse_info.csv'

In [5]:
key_name ="../key/storage_key.json"
bucket_name = "keiba_csv_upload_bucket"
horse_race_file_upload = 'horse_race_takamatsu.csv'
horse_race_file_name = '../data/main/horse_race.csv'

In [9]:
#ファイルマージ用
horse_info_df = pd.DataFrame()
horse_race_df = pd.DataFrame()
#csvファイルのマージ
for year in range(2006, 2007):
    horse_info_tmp_df = pd.read_csv("../data/csv/"+dir+"/"+str(year)+"/"+"horse-info"+".csv", sep=",")
    horse_race_tmp_df = pd.read_csv("../data/csv/"+dir+"/"+str(year)+"/"+"horse-race"+".csv", sep=",")
    horse_info_df = pd.concat([horse_info_df, horse_info_tmp_df], axis=0)
    horse_race_df = pd.concat([horse_race_df, horse_race_tmp_df], axis=0)

# horse_info_df

In [22]:
horse_info_df.head(1)

,race_id,race_round,race_title,weather,ground_status,where_racecourse,total_horse_number,frame_number_first,horse_number_first,frame_number_second,horse_number_second,frame_number_third,horse_number_third,tansyo,hukusyo_first,hukusyo_second,hukusyo_third,wakuren,umaren,wide_1_2,wide_1_3,wide_2_3,umatan,renhuku3,rentan3,is_obstacle,ground_type,is_left_right_straight,distance,weather_rain,weather_snow,datetime
0,200607010811,11,第36回高松宮記念(G1),晴,1,中京,18,6,11,7,14,7,13,930,260,210,260,1150,2290,900,1110,760,5550,5240,36620,0,芝,左,1200,0,0,2006-03-26 15:40:00

In [23]:
if not os.path.exists('../data/main'):
    os.makedirs('../data/main')

In [24]:
horse_info_df.to_csv("../data/main/horse_info.csv",
               index=False
              )

In [25]:
# 保管したサービスアカウントキーを指定します
client = storage.Client.from_service_account_json(key_name)

In [26]:
# 保管したサービスアカウントキーを指定します
client = storage.Client.from_service_account_json(key_name)
bucket = client.get_bucket(bucket_name)
blob = bucket.blob(horse_info_file_upload)
blob.upload_from_filename(horse_info_file_name)

# horse_race_df

In [27]:
horse_race_df.head(1)

,race_id,rank,frame_number,horse_number,horse_id,sex_and_age,burden_weight,rider_id,goal_time,goal_time_dif,time_value,half_way_rank,last_time,odds,popular,horse_weight,tame_time,tamer_id,owner_id
0,200607010811,1,6,11,2000101550,牡6,57,641,1:08.0,NaN,\n\n**\n\n,5-5,33.9,9.3,4,470(-4),\n\n,1002,334009

In [49]:
horse_race_df.to_csv("../data/main/horse_race.csv", 
                index=False
               )

In [50]:
# 保管したサービスアカウントキーを指定します
client = storage.Client.from_service_account_json(key_name)

In [51]:
# 保管したサービスアカウントキーを指定します
client = storage.Client.from_service_account_json(key_name)
bucket = client.get_bucket(bucket_name)
blob = bucket.blob(horse_race_file_upload)
blob.upload_from_filename(horse_race_file_name)