In [1]:
#インポート文
import numpy as np
import pandas as pd
import os
import warnings

In [2]:
race_df = pd.DataFrame()
horse_df = pd.DataFrame()
#csvファイルのマージ
for year in range(2023, 2024):
    for month in range(1,3):
        race_tmp_df = pd.read_csv("../data/csv/race-"+str(year)+"-"+str(month)+".csv", sep=",")
        horse_tmp_df = pd.read_csv("../data/csv/horse-"+str(year)+"-"+str(month)+".csv", sep=",")
        race_df = pd.concat([race_df, race_tmp_df], axis=0)
        horse_df = pd.concat([horse_df, horse_tmp_df], axis=0)

# race_df

In [3]:
pd.set_option('display.max_columns', 100)
race_df.head(1)

,race_id,race_round,race_title,race_course,weather,ground_status,time,date,where_racecourse,total_horse_number,frame_number_first,horse_number_first,frame_number_second,horse_number_second,frame_number_third,horse_number_third,tansyo,hukusyo_first,hukusyo_second,hukusyo_third,wakuren,umaren,wide_1_2,wide_1_3,wide_2_3,umatan,renhuku3,rentan3
0,202305010101,1 R,3歳未勝利,ダ左1400m,天候 : 晴,ダート : 良,発走 : 10:05,2023年1月28日,1回東京1日目,16,7,14,5,10,5,9,160,110,170,890,430,520,270,"1,820","4,120",710,"7,490","18,190"

##### race_id

##### race_round

In [4]:
race_df['race_round'] = race_df['race_round'].str.strip('R \n')

##### race_title

##### race_course

In [5]:
#ストリングデータから各情報の抽出
#障害レース
obstacle = race_df["race_course"].str.extract('(障)', expand=True)
#ダートor芝レース
ground_type = race_df["race_course"].str.extract('(ダ|芝)', expand=True)
#右周りor左周り
is_left_right_straight = race_df["race_course"].str.extract('(左|右|直線)', expand=True)
#距離
distance = race_df["race_course"].str.extract('(\d+)m', expand=True)

In [6]:
#各情報をカラムに変換
obstacle.columns ={"is_obstacle"}
ground_type.columns ={"ground_type"}
is_left_right_straight.columns = {"is_left_right_straight"}
distance.columns = {"distance"}

In [7]:
#データフレームに結合
race_df = pd.concat([race_df, obstacle], axis=1)
race_df = pd.concat([race_df, ground_type], axis=1)
race_df = pd.concat([race_df, is_left_right_straight], axis=1)
race_df = pd.concat([race_df, distance], axis=1)

In [8]:
race_df["is_left_right_straight"] = race_df["is_left_right_straight"].fillna("None")

In [9]:
#障を1に、欠損値を0に変換
race_df['is_obstacle'] = race_df['is_obstacle'].replace('障', 1)
race_df.fillna(value={'is_obstacle': 0}, inplace=True)

In [10]:
# print("is_obstacle:", race_df["is_obstacle"].unique())
# print("ground_type:", race_df["ground_type"].unique())
# print("is_left_right_straight:", race_df["is_left_right_straight"].unique())
# print("distance isnull sum:", race_df["distance"].isnull().sum())

In [11]:
#オリジナルの削除
race_df.drop(['race_course'], axis=1, inplace=True)

##### weather

In [12]:
race_df['weather'] = race_df['weather'].str.strip('天候 :')

In [13]:
weather_rain = race_df["weather"].str.extract('(小雨|雨)', expand=True)
weather_snow = race_df["weather"].str.extract('(小雪|雪)', expand=True)
weather_rain.columns ={"weather_rain"}
weather_snow.columns ={"weather_snow"}
race_df = pd.concat([race_df, weather_rain], axis=1)
race_df = pd.concat([race_df, weather_snow], axis=1)

race_df.fillna(value={'weather_rain': 0}, inplace=True)
race_df['weather_rain'] = race_df['weather_rain'].replace('小雨', 1)
race_df['weather_rain'] = race_df['weather_rain'].replace('雨', 2)
race_df.fillna(value={'weather_snow': 0}, inplace=True)
race_df['weather_snow'] = race_df['weather_snow'].replace('小雪', 1)
race_df['weather_snow'] = race_df['weather_snow'].replace('雪', 2)

##### ground_status

In [14]:
race_df['ground_status'] = race_df['ground_status'].replace('.*(稍重).*', 4,regex=True)
race_df['ground_status'] = race_df['ground_status'].replace('.*(重).*', 3,regex=True)
race_df['ground_status'] = race_df['ground_status'].replace('.*(不良).*', 2,regex=True)
race_df['ground_status'] = race_df['ground_status'].replace('.*(良).*', 1,regex=True)

##### time

In [15]:
warnings.filterwarnings('ignore', 'The default value of regex')

race_df["time"] = race_df["time"].str.replace('発走 : (\d\d):(\d\d)(.|\n)*', r'\1時\2分')
race_df["datetime"] = race_df["date"] + race_df["time"]
race_df["datetime"] = pd.to_datetime(race_df['datetime'], format='%Y年%m月%d日%H時%M分')

In [16]:
#オリジナルの削除
race_df.drop(['time'], axis=1, inplace=True)
race_df.drop(['date'], axis=1, inplace=True)

##### where_racecourse

In [17]:
race_df["where_racecourse"] = race_df["where_racecourse"].str.replace('\d*回(..)\d*日目', r'\1')

##### total_horse_number
##### frame_number_first
##### horse_number_first
##### frame_number_second
##### horse_number_second
##### frame_number_third
##### horse_number_third

##### tansyo
##### hukusyo_first
##### hukusyo_second
##### hukusyo_third
##### wakuren
##### umaren
##### wide_1_2
##### wide_1_3
##### wide_2_3
##### umatan
##### renhuku3
##### rentan3

In [18]:
race_df['tansyo'] = race_df['tansyo'].apply(lambda x: int(x.replace(",", "")) if type(x) is str else int(x))
race_df['hukusyo_first'] = race_df['hukusyo_first'].apply(lambda x: int(x.replace(",", "")) if type(x) is str else int(x))
race_df['hukusyo_second'] = race_df['hukusyo_second'].apply(lambda x: int(x.replace(",", "")) if type(x) is str else int(x))
race_df['hukusyo_third'] = race_df['hukusyo_third'].apply(lambda x: int(x.replace(",", "")) if type(x) is str else int(x))
race_df['wakuren'] = race_df['wakuren'].apply(lambda x: int(x.replace(",", "")) if type(x) is str else int(x))
race_df['umaren'] = race_df['umaren'].apply(lambda x: int(x.replace(",", "")) if type(x) is str else int(x))
race_df['wide_1_2'] = race_df['wide_1_2'].apply(lambda x: int(x.replace(",", "")) if type(x) is str else int(x))
race_df['wide_1_3'] = race_df['wide_1_3'].apply(lambda x: int(x.replace(",", "")) if type(x) is str else int(x))
race_df['wide_2_3'] = race_df['wide_2_3'].apply(lambda x: int(x.replace(",", "")) if type(x) is str else int(x))
race_df['umatan'] = race_df['umatan'].apply(lambda x: int(x.replace(",", "")) if type(x) is str else int(x))
race_df['renhuku3'] = race_df['renhuku3'].apply(lambda x: int(x.replace(",", "")) if type(x) is str else int(x))
race_df['rentan3'] = race_df['rentan3'].apply(lambda x: int(x.replace(",", "")) if type(x) is str else int(x))

In [19]:
race_df.head(1)

,race_id,race_round,race_title,weather,ground_status,where_racecourse,total_horse_number,frame_number_first,horse_number_first,frame_number_second,horse_number_second,frame_number_third,horse_number_third,tansyo,hukusyo_first,hukusyo_second,hukusyo_third,wakuren,umaren,wide_1_2,wide_1_3,wide_2_3,umatan,renhuku3,rentan3,is_obstacle,ground_type,is_left_right_straight,distance,weather_rain,weather_snow,datetime
0,202305010101,1,3歳未勝利,晴,1,東京,16,7,14,5,10,5,9,160,110,170,890,430,520,270,1820,4120,710,7490,18190,0.0,ダ,左,1400,0,0,2023-01-28 10:05:00

In [20]:
if not os.path.exists('../data/main'):
    os.makedirs('../data/main')

In [21]:
race_df.to_csv("../data/main/race_data.csv",
               index=False
              )

# horse_df

In [22]:
horse_df.head(1)

,race_id,rank,frame_number,horse_number,horse_id,sex_and_age,burden_weight,rider_id,goal_time,goal_time_dif,time_value,half_way_rank,last_time,odds,popular,horse_weight,tame_time,tamer_id,owner_id
0,202305010101,1,7,14,2020103198,牝3,54.0,1170,1:26.1,NaN,\n\n**\n\n,1-1,37.3,1.6,1.0,444(-4),\n\n,1167,226800

##### race_id

##### rank

In [23]:
is_down = horse_df["rank"].str.extract('(\(降\))', expand=True)
is_down.columns ={"is_down"}
horse_df = pd.concat([horse_df, is_down], axis=1)

horse_df.fillna(value={'is_down': 0}, inplace=True)
horse_df['is_down'] = horse_df['is_down'].replace('(降)', 1)

## 余分な文字を削除
horse_df['rank'] = horse_df['rank'].apply(lambda x: x.replace("(降)", ""))
horse_df['rank'] = horse_df['rank'].apply(lambda x: x.replace("(再)", ""))

In [24]:
horse_df = horse_df[(horse_df['rank'] != "取") & (horse_df['rank'] != "除") & (horse_df['rank'] != "失")]
horse_df['rank'] = pd.DataFrame(horse_df['rank'].mask(horse_df['rank'] == "中", 20))

##### frame_number
##### horse_number
##### horse_id

##### sex_and_age

In [25]:
is_senba = horse_df["sex_and_age"].str.extract('(セ)', expand=True)
is_senba.columns ={"is_senba"}
horse_df = pd.concat([horse_df, is_senba], axis=1)

is_mesu = horse_df["sex_and_age"].str.extract('(牝)', expand=True)
is_mesu.columns ={"is_mesu"}
horse_df = pd.concat([horse_df, is_mesu], axis=1)

is_osu = horse_df["sex_and_age"].str.extract('(牡)', expand=True)
is_osu.columns ={"is_osu"}
horse_df = pd.concat([horse_df, is_osu], axis=1)

In [26]:
horse_df.fillna(value={'is_osu': 0}, inplace=True)
horse_df['is_osu'] = horse_df['is_osu'].replace('牡', 1)
horse_df.fillna(value={'is_mesu': 0}, inplace=True)
horse_df['is_mesu'] = horse_df['is_mesu'].replace('牝', 1)
horse_df.fillna(value={'is_senba': 0}, inplace=True)
horse_df['is_senba'] = horse_df['is_senba'].replace('セ', 1)
## 余分な文字を削除
horse_df['sex_and_age'] = horse_df['sex_and_age'].str.strip("牝牡セ")
horse_df['sex_and_age'] = horse_df['sex_and_age'].astype(int)

##### burden_weight
##### rider_id

##### goal_time

In [27]:
horse_df['goal_time'] = pd.to_datetime(horse_df['goal_time'], format='%M:%S.%f') - pd.to_datetime('00:00.0', format='%M:%S.%f')
horse_df['goal_time'] = horse_df['goal_time'].dt.total_seconds()

In [28]:
# 欠損値を最大値で埋める
horse_df.fillna(value={'goal_time': horse_df['goal_time'].max()}, inplace=True)

##### last_time

In [29]:
# 欠損値を最大値で埋める
horse_df.fillna(value={'last_time': horse_df['last_time'].max()}, inplace=True)

In [30]:
horse_df["last_time"] = pd.to_numeric(horse_df["last_time"], errors="coerce")
horse_df["last_time"] = horse_df["last_time"].apply(lambda x: int((x // 100) * 60 + (x % 100) + 0.5))

##### time_value
##### tame_time

In [31]:
#time_value, tame_time(プレミアム会員向けの情報なので削除
horse_df.drop(['time_value'], axis=1, inplace=True)
horse_df.drop(['tame_time'], axis=1, inplace=True)

##### half_way_rank

In [32]:
horse_df["half_way_rank"].unique()

array(['1-1', '5-5', '4-3', ..., '5-4-6-5', '7-7-7-14', '11-12-15-16'],
      dtype=object)

In [33]:
from statistics import mean
horse_df["half_way_rank"] = horse_df["half_way_rank"].apply(lambda x: mean([float(n) for n in (x.split("-"))]) if type(x) is str else float(x) )

In [34]:
horse_df[horse_df["rank"] == 20] = horse_df[horse_df["rank"] == 20].fillna({'half_way_rank': 20})
horse_df["half_way_rank"] = horse_df["half_way_rank"].fillna(horse_df['half_way_rank'].mean())
horse_df["half_way_rank"].isnull().sum()

0

In [35]:
horse_df["half_way_rank"] = horse_df["half_way_rank"].astype(float)

##### horse_weight

In [36]:
horse_weight_dif = horse_df["horse_weight"].str.extract('\(([-|+]?\d*)\)', expand=True)
horse_weight_dif.columns ={"horse_weight_dif"}

horse_df = pd.concat([horse_df, horse_weight_dif], axis=1)

horse_df['horse_weight'] = horse_df['horse_weight'].replace('\(([-|+]?\d*)\)', '', regex=True)

In [37]:
horse_df['horse_weight'] = horse_df['horse_weight'].replace('計不', np.nan)
horse_df['horse_weight'] = horse_df['horse_weight'].astype(float)
horse_df['horse_weight_dif'] = horse_df['horse_weight_dif'].astype(float)

In [38]:
# 計不 の horse_idを探し、馬ごとの平均値で穴埋め
no_records = horse_df[horse_df['horse_weight'].isnull()]['horse_id']
for no_record_id in no_records:
    horse_df.loc[(horse_df['horse_id'] == no_record_id)&(horse_df['horse_weight'].isnull()), 'horse_weight'] = horse_df[horse_df['horse_id'] == no_record_id]['horse_weight'].mean() 
    horse_df.loc[(horse_df['horse_id'] == no_record_id)&(horse_df['horse_weight_dif'].isnull()), 'horse_weight_dif'] = 0

##### goal_time_dif

In [39]:
horse_df['goal_time_dif'] = horse_df.groupby('race_id')['goal_time'].diff().fillna(0).reset_index(drop=True)

##### burden_weight_rate

In [40]:
horse_df['burden_weight_rate'] = horse_df['burden_weight']/horse_df['horse_weight']

##### avg_velocity

In [41]:
# レース距離情報をmerge
race_tmp_df = race_df[["race_id", "distance"]]
horse_df = pd.merge(horse_df, race_tmp_df, on='race_id')

In [42]:
horse_df["distance"] = horse_df["distance"].astype(int)
horse_df["avg_velocity"] = horse_df["distance"]/horse_df["goal_time"]

In [43]:
#オリジナルの削除
horse_df.drop(['distance'], axis=1, inplace=True)

In [44]:
horse_df.to_csv("../data/main/horse_data.csv", index=False)